body {
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    background: url('../land.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, sans-serif;
    background-color: aquamarine;
}
.content {
    /* Add styles for your content area */
    text-align: center;
    padding: 50px;
}
.page-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 20px;
    height: 100vh;
}

.stay-curious {
    font-size: 180px;
    font-weight: bold;
    color: black;
    margin-right: 40px;
}

.discover-text {
  font-size: 18px;
  color: #000; 
  margin-top: 10px;
  margin-right: 20px;
}

.start-reading {
    background-color: #00ff00; 
    color: #ffffff; 
    padding: 10px;
    margin-top: 10px;
  }