{% set title = 'All Blog Post' %}
{% include "head.html" %}
{% include "sidebar.html" %}

      <!-- Blog Post Cards -->
      <div class="blog-container">
        <div class="row">
          {% for post in posts %}
          <div class="col-md-4" style="padding-left: 20px; padding-right: 20px;">
              <div class="card mb-3" style="box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
                  <img class="card-img-top" src="/static/uploads/{{post.imageFilename }}" alt="Card image cap" style="width: 100%; height: 200px; object-fit: contain;">
                  <div class="card-body">
                      <h5 class="card-title">{{ post.title }}</h5>
                      <p class="card-text">{{ post.content }}</p>
                      <a href="/blog/{{post.id}}" class="btn btn-outline-primary rounded-0 float-end">Read more</a>
                  </div>
              </div>
          </div>
          {% endfor %}
      </div>
  </body>
</html>
