<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Post</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/write.css') }}">
</head>
<body>
<nav class="navbar navbar-expand-lg bg-light nav">
    <div class="container-fluid">
        <div class="d-flex align-items-end">
            <a class="navbar-brand" href="/">
                <img src="../static/InKVue.png" style="width: 180px; padding-left: 60px" alt="The InKVue Logo">
            </a>
            <h6 class="text-muted fs-6" style="font-style: italic">
                Draft in {{ author.name }}
            </h6>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/logout">Logout</a>
                </li>
            </ul>
            {% if user.profilePic %}
                <img src="/static/uploads/{{ user.profilePic }}" class="avatar rounded-circle" style="width: 50px"
                     alt="Avatar">
            {% else %}
                <img src="/static/default.jpg" class="avatar rounded-circle" style="width: 50px" alt="Default Avatar">
            {% endif %}
        </div>
    </div>
</nav>

<div class="container mt-4">
    <h1 class="mb-4">Edit Blog Post</h1>

    <form action="{{ url_for('post.edit_post', post_id=post.id) }}" method="POST" enctype="multipart/form-data">
        <label for="title" class="form-label">Title</label>
        <input type="text" class="form-control" id="title" name="title" value="{{ post.title }}" required>

        <label for="content" class="form-label">Content</label>
        <textarea class="form-control" id="content" name="content" rows="8" required>{{ post.content }}</textarea>

        <div class="mb-3">
            <label for="image" class="form-label">Add Image</label>
            <input type="file" class="form-control" id="image" name="image" accept="image/*" required>
        </div>

        <button class="btn btn-success" type="submit">Update</button>

        <!-- Author -->
        <input type="hidden" name="authorEmail" value="{{ author.email }}">
        <input type="hidden" name="authorId" value="{{ author.id }}">
    </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>

{{ ckeditor.load() }}
{{ ckeditor.config(name='content') }}
</body>
</html>