<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="../static/css/landingstyles.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>InkVue</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
  >
  </head>
  <body>
    {% include "navigation.html" %}
    <div class="main">
      <div class="first-head">Stay Curious.</div>
      <div class="sub">
        <p>
          Discover stories, thinking,<br>
          and expertise from writers <br>on any topic.
        </p>
      </div>

      <div class="btn-group" role="group" aria-label="Basic outlined example">
        <a href="/all_blogs">
          <button
            type="button"
            class="btn btn-secondary btn-sm fs-3 text-white badge rounded-pill bg-success fw-bolder"
          >
            Start Reading
          </button>
        </a>
      </div>
    </div>
  </body>
</html>
