{% set title = 'Authentication Example' %}
{% include "head.html" %}
<style>
  .custom-gradient {
    background: linear-gradient(90deg, #3ea20f 0%, #0dde22 100%);
    border: none;
  }
</style>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-5">
      <h2 class="text-center mb-4">Login</h2>
      {{ g.message|safe }}

      <p class="lead text-center mb-4">Welcome back!  Please log in to access  your account</p>
      <form method="post" action="/login">
        <div class="mb-3">
            <label for="email" class="form-label">Email:</label>
            <input type="email" class=" form-control" id="email" name="email" placeholder= "Enter email">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password:</label>
            <input type="password" class=" form-control" id="password" name="password" placeholder="Enter password">
        </div>
        <div class="mb-3">
          <button type="submit" class=" badge rounded-pill bg-success fw-bolder fs-6 d-grid gap-2 col-8 mx-auto btn btn-primary">Login</button>
        </div>
        <p class="small text-muted">Don't have an account? <a href="/register">Create one
      </form>
    </div>
  </div>
</div>

