<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/static/css/myblogs.css" />
    <script
      src="https://kit.fontawesome.com/38269b1820.js"
      crossorigin="anonymous"
    ></script>
    <title>Document</title>
  </head>
  <body>
    {% include "navigation.html" %}

    <div class="header-container">
      <div class="side-nav">
        <ul class="nav-links">
          <li>
            <a href="/all_blogs">
              <i class="fa-solid fa-book-open"></i>
              <p>All Blogs</p></a
            >
          </li>
          <li>
            <a href="/myblogs"
              ><i class="fa-solid fa-book-open-reader"></i>
              <p>My Blogs</p></a
            >
          </li>
          <li>
            <a href="/post/{{author.id}}">
              <i class="fa-solid fa-credit-card"></i>
              <p>Write</p></a
            >
          </li>
          <li>
            <a href="#explore"
              ><i class="fa-regular fa-compass"></i>
              <p>Explore</p></a
            >
          </li>

          <li>
            <a href="#learn"
              ><i class="fa-solid fa-chalkboard"></i>
              <p>Learn</p></a
            >
          </li>
          <li>
            <a href="#user-profile"
              ><i class="fa-solid fa-user"></i>
              <p>User Profile</p></a
            >
          </li>
          <div class="active"></div>
        </ul>
      </div>

      <!-- Blog Post Cards -->
      <div class="blog-container">
        <div class="row">
          {% for post in posts %}
          <div class="col-md-4" style="padding-left: 20px; padding-right: 20px;">
              <div class="card mb-3" style="box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
                  <img class="card-img-top" src="/static/uploads/{{post.imageFilename }}" alt="Card image cap" style="width: 100%; height: 200px; object-fit: contain;">
                  <div class="card-body">
                      <h5 class="card-title">{{ post.title }}</h5>
                      <p class="card-text">{{ post.content[:30] }}{% if post.content|length > 30 %}...{% endif %}</p>
                      <a href="#" class="btn btn-outline-primary rounded-0 float-end">Read more</a>
                  </div>
              </div>
          </div>
          {% endfor %}
      </div>
  </body>
</html>