{% set title = 'All Blog Post' %}
{% include "head.html" %}
{% include "sidebar.html" %}
<!-- Blog Post Cards -->
<div class="blog-container">
    <div class="row">
        {% for post in posts %}
        <div class="col-md-4" style="padding-left: 20px; padding-right: 20px;">
            <div class="card mb-3" style="box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
                <img class="card-img-top" src="/static/uploads/{{ post.imageFilename }}" alt="Card image cap" style="width: 100%; height: 200px; object-fit: contain;">
                <div class="card-body">
                    <h5 class="card-title">{{ post.title }}</h5>
                    <p class="card-text">{{ post.content | replace('{em}', '<em>') | replace('{/em}', '</em>') | replace('{strong}', '<strong>') | replace('{/strong}', '</strong>') }}</p>
                    <div>
                        <a href="/blog/{{ post.id }}" class="btn btn-outline-primary rounded-0 float-end">Read more</a>
                        <a href="/edit/{{ post.id }}" class="btn btn-outline-primary mb-3">Edit</a>
                        <!-- Pass the post ID to the confirmDelete function -->
                        <button class="btn btn-outline-danger mb-3" onclick="confirmDelete({{ post.id }})">Delete</button>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<script>
    function confirmDelete(postId) {
        if (confirm("Are you sure you want to delete this post?")) {
            window.location.href = "/delete/" + postId;
        }
    }
</script>
