{% set title = 'Posts' %} {% include "head.html" %}

<div class="container">
  <div class="row">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <h2 class="text-center mb-4">All Posts by {{ author.name }}</h2>
        {% if posts|length > 0 %} {% for post in posts %}
        <div class="card mb-3">
          <div class="card-body">
            {% if post.imageFilename %}
            <img
              src="/static/uploads/{{post.imageFilename }}"
              class="img-fluid"
              alt="Post Image"
            >
            {% endif %}
            <h3 class="card-title">{{ post.title }}</h3>
            <p class="card-text">{{ post.content|safe }}</p>
            <p class="card-text">
              <small class="text-muted">Created on {{ post.createdAt }}</small>
            </p>
            <!-- Edit Button -->
            <a href="/edit/{{ post.id }}" class="btn btn-primary">Edit</a>

          </div>

        </div>
        {% endfor %} {% else %}
        <p>No posts available.</p>
        {% endif %}
      </div>
    </div>
  </div>
</div>
