{% set title = 'Blog Post' %}
{% include "head.html" %}
{% include "sidebar.html" %}

<!-- Individual Blog Post -->
<div class="container mt-4">
    <div class="card" style="box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
        <img class="card-img-top" src="/static/uploads/{{ post.imageFilename }}" alt="Post Image" style="width: 100%; height: 400px; object-fit: cover">
        <div class="card-body">
            <h2 class="card-title">{{ post.title }}</h2>
            <p class="card-text">{{ post.content }}</p>
        </div>
        <div class="user-info">
            <small class="text-muted"
            >Posted by: {{ post.author.name }}
            </small>
        </div>
    </div>
</div>



