<head>
    <link rel="stylesheet" href="../static/css/styles_blog.css" />
    <script
      src="https://kit.fontawesome.com/38269b1820.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="header-container">
      <div class="side-nav">
        <ul class="nav-links">
          <li>
            <a href="/all_blogs">
              <i class="fa-solid fa-book-open"></i>
              <p>All Blogs</p></a
            >
          </li>
          <li>
            <a href="#explore"
              ><i class="fa-regular fa-compass"></i>
              <p>Explore</p></a
            >
          </li>

          <li>
            <a href="#learn"
              ><i class="fa-solid fa-chalkboard"></i>
              <p>Learn</p></a
            >
          </li>
          <li>
            <a href="/register"
              ><i class="fa-solid fa-user"></i>
              <p>Sign Up</p></a
            >
          </li>

          <li>
            <a href="/login"
              ><i class="fa-solid fa-user"></i>
              <p>Sign In</p></a
            >
          </li>
          <div class="active"></div>
        </ul>
      </div>