{% include "head.html" %}
{% include "sidebar.html" %}

<style>
    .profile-container {
        position: relative;
    }

    .profile-image {
        width: 150px;
        height: 150px;
        border-radius: 50%; /* Make the profile picture circular */
        object-fit: cover;
    }

    .profile-details {
        padding-top: 20px; /* Adjust to make space for the profile picture */
        padding-left: 170px; /* Adjust to create space for the profile picture */
    }
</style>

<!-- User Profile -->
<div class="container mt-4 profile-container">
    <div class="card" style="box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
        <img class="profile-image" src="/static/uploads/{{ author.profilePic }}" alt="Profile Image">
        <div class="card-body profile-details">
            <h2 class="card-title">{{ author.name }}</h2>
            <h5 class="card-title">{{ author.email }}</h5>
            <p class="card-text">{{ author.bio }}</p>
        </div>
    </div>
</div>

<!--Edit button for the profile-->
<div class="mt-4">
    <a href="/edit_user_profile/{{ author.id }}" class="btn btn-primary">Edit Profile</a>
</div>
